* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    margin-bottom: 128px;
}

.navigation {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 66px;
    /* align-items: flex-end; */
    padding-top: 30px;
}

.logo {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 30px;
    color: rgb(157, 227, 214);
    text-align: left;
}

.navigation-menu {
    list-style: none;
    width: 490px;
    display: flex;
    justify-content: space-between;
}

.navigation-menu-item {
    
}

.navigation-menu-link {
    text-decoration: none;
    color: rgb(149, 225, 211);
    font-family: 'Montserrat';
    font-size: 14px;
    text-align: center;
}

.navigation-menu-link:hover {
    color: rgb(246, 166, 166);
}

.navigation-menu-link:hover::after {
    display: block;
    content: '';
    height: 2px;
    background-color: rgb(246, 166, 166);
    transition: 0.2ms linear;
}

.flex-conteiner {
    display: flex;
    min-height: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 66px;
}

.we-work-with {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
}

.amazing-service {
    font-size: 30px;
    font-family: 'Montserrat';
    color: #333333;
}

.flex-conteiner::after {
    width: 60px;
    content: '';
    height: 2px;
    margin: 42px auto 0;
    background-color: rgb(246, 166, 166); 
}

.list-conteiner {
    width: 1200px;
    margin: 0 auto;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
}

.list-items {
    width: 330px;
    padding-left: 60px;
    margin-left: 70px;
    position: relative;
}

.list-items::before {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    content: url(../img/PHOTOGRAPHY.png);
}

.list-items:nth-child(2)::before {
    content: url(../img/WEB\ DESIGN.png);
}

.list-items:nth-child(3)::before {
    content: url(../img/CREATIVITY.png);
}

.list-items:nth-child(4)::before {
    content: url(../img/SEO.png);
}

.list-items:nth-child(5)::before {
    content: url(../img/CSS-HTML.png);
}

.list-items:nth-child(6)::before {
    content: url(../img/DIGITAL.png);
}

h4 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(122, 122, 122);
}

.list-items p {
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(153, 153, 153);
}

.list-items:nth-child(-n+3) {
    margin-bottom: 100px;
}

.section {
    width: 1200px;
    margin: 0 auto;
}

.div-conteiner {
    display: flex;
    min-height: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

.div-conteiner::after {
    width: 60px;
    content: '';
    height: 2px;
    margin: 42px auto 0;
    background-color: rgb(246, 166, 166);
}

.who-we-are {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}

.meet-our-team {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.text {
    font-size: 15px;
    font-family: 'Roboto';
    margin-bottom: 90px;
    text-align: center;
}

.our-team {
    display: flex;
    min-height: 555px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    text-align: center;
}

.team {
    display: flex;
    min-height: 555px;
    width: 1200px;
    list-style: none;
}

.card-name {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    color: #333333;
}

.card-profesion {
    font-size: 15px;
    font-family: 'Roboto';
    color: #b6b6b6;
}

.img-card {
    margin-right: 27px;
}

.card {
    position: relative;
}

.card-overlay {
    display: flex;
    position: absolute;
    width: 383px;
    height: 473px;
    background: linear-gradient( to bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );
    opacity: 0;
}

.card:hover .card-overlay {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px rgb(149, 225, 211);
    opacity: 1;
    transition: 200ms linear;
}

.icon-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 380px;
}

.icon {
    border: none;
    display: inline-block;
    width: 56px;
    height: 56px;
    margin-right: 1px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    padding: 0;
}

.icon:hover {
    background-color: #95e1d3;
}

.facebook {
    background-image: url(../img/facebook@1X.png);
    background-position: center;
}

.twiter {
    background-image: url(../img/twitter@1X.png);
    background-position: center;
}

.p {
    background-image: url(../img/pinterest@1X.png);
    background-position: center;
}

.instagram {
    background-image: url(../img/instagram@1X.png);
    background-position: center;
}

footer {
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-conteiner {
    display: flex;
    width: 1200px;
    height: 62px;
    border-top: 1px solid #c3c3c3;
}

.MoGo {
    color: #333333;
    align-self: center;
    margin-right: 570px;
    font-size: 14px;
}

.Laaqiq {
    text-decoration: none;
    color: #f38181;
}

.subscribe {
    align-self: center;
    display: flex;
    justify-content: flex-end;
    height: 40px;
}

.subscribe-form {
    width: 230px;
    border: 1px solid #cccccc;
    border-right-width: 0;
    outline: none;
    padding: 14px 12px 13px 12px;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: #cccccc;
}

.subscribe-form::placeholder {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: #cccccc;
}

.subscribe-submit {
    width: 150px;
    background-color: #95e1d3;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}