@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 906px;
    margin: 0 auto;
}

header {
    margin-top: 78px;
    margin-bottom: 100px;
}

a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #aaaaaa;
    text-align: center;
    text-transform: uppercase;
}

a:hover {
    color: #03a9f4;
}

.menu {
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    list-style: none;
    font-size: 0;
    padding-left: 160px;
}

.menu li{
    display: inline-block; 
    margin-right: 96px;
}

.menu li:last-child {
    margin-right: 0;
}

main {
    width: 906px;
    margin: 0 auto;
}

section {
    display: inline-block;
    font-size: 0;
    margin-bottom: 70px;
}

article {
    width: 420px;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 54px; 
}

article:nth-child(even) {
    margin-right: 0;
}

.text-title {
    font-family: 'Ubuntu', sans-serif; 
    font-size: 14px;
    color: #c8c3b8;
    text-align: left;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 28px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
    text-align: left;
    margin-bottom: 30px;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #949494;
    text-align: left;   
}

.button {
    font-family: 'Playfair Display', serif;
    background-color: white; 
    border: 1px solid #626262;
    color: #898989;
    width: 164px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
}