@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin-top: 77px;
    margin-bottom: 103px;
}

.ul-menu {
    margin: 0 auto;
    width: 550px;
    list-style: none;
}

.ul-menu li {
    display: inline;
    margin-left: 20px;
}

a {
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
    text-align: center;
    list-style: none;
    text-decoration: none;
}

a:link {
    color: #626262;
    padding: 14px;
}

a:hover {
    color: #03a9f4;
}

.text-title {
    font-size: 14px;
    color: rgba(180, 173, 158, 255);
    text-align: left;
    font-family: Ubuntu-Light;
    margin-top: 35px;
    margin-bottom: 28px;
}

article {
    width: 420px;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 54px;
}

h2 {
    font-family: PlayfairDisplay;
    font-size: 30px;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    margin-bottom: 35px;
}

.section {
    margin: 0 auto;
    width: 966px;
}

.text-text {
    font-family: PlayfairDisplay;
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    margin-bottom: 135px;
}

p {
    font-family: PlayfairDisplay;
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    margin-bottom: 54px;
}

button {
    font-size: 20px;
    color: rgba(98, 98, 98, 255);
    text-align: center;
    margin: 0 auto;
    display: block;
    font-family: PlayfairDisplay-Regular;
    border: 1px solid #626262;
    width: 164px;
    height: 60px;
    margin-right: 442px;
    margin-bottom: 70px;
}