* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v13-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v13-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v13-latin-700.woff2') format('woff2'),
         url('../fonts/montserrat-v13-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v19-latin-300.woff2') format('woff2'),
         url('../fonts/roboto-v19-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v19-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v19-latin-regular.woff') format('woff');
}

.header {
    background: url(../img/Screen_1_BG.png)center/cover no-repeat;
    max-width: 100%;
}

.conteiner-header {
    padding: 20px 0 138px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: url(../img/Screen_1_BG.png)center/cover no-repeat;
    max-width: 100%; */
}

.nav {
    margin-bottom: 38px;
}

.conteiner-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
    align-items: center;
}

.log {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 20px;
}

.log:hover {
    border: 2px solid #ffffff;
    border-radius: 100px;
}

.sign {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    border: 2px solid #ffffff;
    border-radius: 100px;
    padding: 10px 15px;
    background: none;
}

.logo {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 38px;
    display: block;
}

.title {
    font-family: 'Montserrat';
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.text {
    font-family: 'Roboto';
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}

.button {
    display: block;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    background-color: #ff4e50;
    padding: 15px 48px 15px 46px;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    cursor: pointer;
}

.our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title-meet {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    color: #333333;
    text-align: center;
    margin-bottom: 14px;
    margin-top: 70px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.list-items {
    list-style: none;    
    width: 198px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.list-items:last-child {
    margin-bottom: 0;
}

.name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    color: #333333;
    text-align: center;
    margin-bottom: 16px;
}

.info {
    margin-bottom: 28px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #c1c1c1;
    text-align: center;
}

.photo-wraper {
    width: 122px;
    height: 122px;
    margin-bottom: 20px;
    position: relative;
}

.link {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid #ffffff;
    border-radius: 20px;
    bottom: -4px;
    right: -4px;
}

.photo-1 {
    background: url(../img/icon_parter_1.png) center /auto no-repeat #ff4e50;
}

.photo-2 {
    background: url(../img/icon_parter_2.png) center /auto no-repeat #ffa507;
}

.photo-3 {
    background: url(../img/icon_parter_3.png) center /auto no-repeat #1cd7ad;
}

.photo-4 {
    background: url(../img/icon_parter_4.png) 40% 50%/auto no-repeat #4e73db;
}


.button-other {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ff4e50;    
    background-color: transparent;
    padding: 12px 70px 10px;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 60px;
}